body {
    width: 500px;
    border: 5px solid black;
    padding: 2px;
}

.boldunderlined {
    font-weight:bold;
    text-decoration: underline;
    font-size: 22px;
}

h1 {
    background-color: black;
    color: yellow;
    width: 504px;
    margin: -2px -2px 2px -2px;
    text-align: center;
}

h2 {
    font-style: italic;
}